.presentacion-tarjetas{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;/*hace lo posible por colocarlo al lado,
                    pero si no entra lo pone abajo*/
}

.tarjeta{
    display: flex;
    padding-top: 50px;
 
    
    
}

.tarjeta img{
    width: 130px;
    height: 170px;
}

.tarjeta div{
    width: 220px;
    height: 200px;
    padding-left: 20px;
   
}

.tarjeta h2, p{
    color: rgb(200, 196, 196);

}
.tarjeta h3{
    font-family:Interbold;

}
    

    
   

